<div id="content" class="content">
    <!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">User Profile</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">
    User Profile <small>header small text goes here...</small>
</h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row">
    <!-- begin col-6 -->
    <div class="col-lg-12">
        <!-- begin panel -->
        <div class="panel" data-sortable-id="form-stuff-10">
            <!-- begin panel-heading -->
            
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
                <form>
                    <fieldset>
                        <legend class="m-b-15">Profile</legend>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label text-right">Referal Code</label>
                            <div class="col-md-3">	
                                <input ng-model="investment.amount" type="text" class="form-control" placeholder="Referal Code">		
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label text-right">First Name</label>
                            <div class="col-md-3">	
                                <input ng-model="investment.amount" type="text" class="form-control" placeholder="First Name">		
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label text-right">Middle Name</label>
                            <div class="col-md-3">	
                                <input ng-model="investment.amount" type="text" class="form-control" placeholder="Middle Name">		
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label text-right">Last Name</label>
                            <div class="col-md-3">	
                                <input ng-model="investment.amount" type="text" class="form-control" placeholder="Last Name">		
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label text-right">Email Id</label>
                            <div class="col-md-3">	
                                <input ng-model="investment.amount" type="text" class="form-control" placeholder="Email Id">		
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label text-right">Alternate Email Id</label>
                            <div class="col-md-3">	
                                <input ng-model="investment.amount" type="text" class="form-control" placeholder="Alternate Email Id">		
                            </div>
                        </div>

                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label text-right">Mobile Number</label>
                            <div class="col-md-3">	
                                <input ng-model="investment.amount" type="text" class="form-control" placeholder="Mobile Number">		
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label text-right">Alternate Mobile Number</label>
                            <div class="col-md-3">	
                                <input ng-model="investment.amount" type="text" class="form-control" placeholder="Alternate Mobile Number">		
                            </div>
                        </div>
                        
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label text-right">PAN Number</label>
                            <div class="col-md-3">	
                                <input ng-model="investment.amount" type="text" class="form-control" placeholder="PAN Number">		
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label text-right">Adhar Number</label>
                            <div class="col-md-3">	
                                <input ng-model="investment.amount" type="text" class="form-control" placeholder="Adhar Number">		
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-7 offset-md-3">
                                <button ng-click="saveProfile(investment)" type="button" class="btn btn-sm btn-primary m-r-5">Save</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- end panel-body -->
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-6 -->
</div>
    <!-- end row -->
</div>